<style>
    icon-shape {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        vertical-align: middle;
    }

    .icon-sm {
        width: 2rem;
        height: 2rem;

    }
</style>



<div class="container">


    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">Add Stock</h4>
                {{!-- <p class="card-description"> Basic form elements </p> --}}
                <form class="forms-sample" method="POST" action="/addStock" name="addStockForm" id="addStockForm">


                    <div class="form-group">
                        <label for="exampleSelectCategory">Product Unique ID</label>
                        <select class="form-control" id="select_ProductId" name="productId">

                            <option value="">Select product Id</option>
                            {{#each product}}
                            <option value="{{this.productId}}" id="productId">{{this.productId}}</option>
                            {{/each}}
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="exampleSelectCategory">Warehouse Number</label>
                        <select class="form-control" id="select_wareHouseNumber" name="wareHouseNumber"
                            onchange="warehouseSelect(event)">
                            <option value="">Select warehouse number</option>
                            {{#each wareHouse}}
                            <option value="{{this.wareHouseNumber}}" id="wareHouseNumber">{{this.wareHouseNumber}}
                            </option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="d-flex justify-content-around mb-4 mt-5">
                        <div>
                            <p class="text-dark">Add Stock</p>
                        </div>
                        <div class="input-group w-auto justify-content-end align-items-center">
                            <input type="button" value="-"
                                class="button-minus border rounded-circle  icon-shape icon-sm mx-1 "
                                data-field="quantity">
                            <input type="number" step="1" max="100" value="1" name="quantity"
                                class="quantity-field border-0 text-center w-25" id="stockLimit" required>
                            <input type="button" value="+" class="button-plus border rounded-circle icon-shape icon-sm "
                                data-field="quantity">
                        </div>
                    </div>

                    <div id="submitdiv">
                        <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                        <button class="btn btn-light">Cancel</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


{{#if productErr}}
<script>
    Swal.fire({
        position: 'center',
        icon: 'error',
        title: 'Product with this product Id already exist',
        showConfirmButton: true
    })
</script>
{{/if}}


<script>
    function incrementValue(e) {
        e.preventDefault();
        var fieldName = $(e.target).data('field');
        var parent = $(e.target).closest('div');
        var currentVal = parseInt(parent.find('input[name=' + fieldName + ']').val(), 10);

        if (!isNaN(currentVal)) {
            parent.find('input[name=' + fieldName + ']').val(currentVal + 1);
        } else {
            parent.find('input[name=' + fieldName + ']').val(0);
        }
    }

    function decrementValue(e) {
        e.preventDefault();
        var fieldName = $(e.target).data('field');
        var parent = $(e.target).closest('div');
        var currentVal = parseInt(parent.find('input[name=' + fieldName + ']').val(), 10);

        if (!isNaN(currentVal) && currentVal > 0) {
            parent.find('input[name=' + fieldName + ']').val(currentVal - 1);
        } else {
            parent.find('input[name=' + fieldName + ']').val(0);
        }
    }

    $('.input-group').on('click', '.button-plus', function (e) {
        incrementValue(e);
    });

    $('.input-group').on('click', '.button-minus', function (e) {
        decrementValue(e);
    });
</script>


<script>
    // form validation
    $("#addStockForm").submit(function (event) {

        var Product = document.getElementById("select_ProductId").value;
        var proId = document.getElementById("select_wareHouseNumber").value;
        console.log(Product)
        console.log(proId)
        if (Product.trim() == " " || Product.length < 1) {
            event.preventDefault();


            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Please select a field',
                showConfirmButton: true
            })
        } else if (proId.trim() == " " || proId.length < 1 || isNaN(proId)) {
            event.preventDefault();

            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Please select a field',
                showConfirmButton: true
            })
        }
    });

    function warehouseSelect(event) {
        let warehouseNumber = document.getElementById("select_wareHouseNumber").value
        let prodcutId = document.getElementById('select_ProductId').value
        console.log(warehouseNumber)
        console.log(prodcutId)

        $.ajax({
            url: `/getWarehouseDetails?wareHouseNumber=${warehouseNumber}&productId=${prodcutId}`,
            method: 'get',
            success: (response) => {
                console.log(response.stock)
                if (response.stock === 0) {
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: 'Warehouse is Full!',
                        showConfirmButton: true
                    })
                }
                $("input").attr({
                    "max": response.stock, // substitute your own
                });

            }
        })
    }
</script>